body {
  font-family: 'Montserrat', sans-serif;
  width: 1000px;
  margin: 0 auto;
}
section {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.box {
  margin-left: 300px;
}
.iziToast button.iziToast-close {
  background: url('../img/cross.svg') no-repeat 50% 50%;
}

#datetime-picker {
  width: 272px;
  height: 40px;
  padding: 0;
}
#datetime-picker::placeholder {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #cfcfcf;
  border: none;
}
button:active {
  background: #4e75ff;
}
button:hover {
  background: #6c8cff;
}
.timer {
  display: flex;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-weight: 400;
  font-size: 40px;

  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.5;
  color: #2e2f42;
}
